 h1 {
            color: blueviolet
        }
        
        p {
            color: red
        }
        .a{
float: rigth;
margin-right: 2%;
        }
       .b{
           background-color: gold
       } 
       .c{
float: right

       }        